details {
  border-bottom: var(--border-width) solid var(--text-swath);
  color: var(--text-swath);
  padding-bottom: var(--spacing-sm);

  summary {
    font-weight: 600;
    list-style-position: outside;
    margin-left: calc(var(--spacing-lg) * 2);
    padding-bottom: var(--spacing-xs);
    padding-right: var(--spacing-lg);
  }

  ::marker {
    content: "+ ";
    font-size: 130%;
  }

  &[open] {
    padding-bottom: unset;

    ::marker {
      content: "-  ";
    }

    summary {
      + * {
        animation: accordion ease-in-out 200ms;
      }
    }
  }
}

@keyframes accordion {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
