button {
  color: var(--btn-color);
  background-color: var(--btn-background-color);
  border: var(--border-width) solid currentColor;
  line-height: 1rem;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  cursor: pointer;
}
button:hover {
  color: var(--btn-color-hover);
  background-color: var(--btn-background-color-hover);
  box-shadow: var(--shadow-std);
}

button.bg-none {
  color: var(--btn-background-color);
  background-color: transparent;
}
button.bg-none:hover {
  color: var(--btn-background-color-hover);
  background-color: transparent;
}

button.border-none {
  border: var(--border-width) solid transparent;
}
button.border-none:hover {
  border: var(--border-width) solid transparent;
}

button.active {
  color: var(--btn-color-hover);
  background-color: var(--btn-background-color-hover);
  box-shadow: var(--shadow-std);
}

#btn-debug {
  position: fixed;
  padding: 0;
  border: none;
  background-color: transparent;
  top: 2.5rem;
  right: 0.2rem;
}
