button {
  background-color: var(--btn-background-color);
  border: var(--border-width) solid var(--btn-border-color);
  color: var(--btn-color);
  cursor: pointer;
  line-height: 1rem;
  padding: var(--btn-padding-y) var(--btn-padding-x);
}

button:hover,
button:focus-visible {
  background-color: var(--btn-background-color-hover);
  border: var(--border-width) solid var(--btn-border-color-hover);
  box-shadow: var(--shadow-std);
  color: var(--btn-color-hover);
}

button:hover:active,
button:focus-visible:active {
  background-color: var(--btn-background-color-active);
  border: var(--border-width) solid var(--btn-border-color-active);
  box-shadow: var(--shadow-std);
  color: var(--btn-color-active);
}

button:hover:disabled,
button:focus-visible:disabled {
  background-color: var(--btn-background-color);
  border: var(--border-width) solid var(--btn-border-color);
  box-shadow: unset;
  color: var(--btn-color);
  cursor: default;
}

button.selected {
  background-color: var(--btn-background-color-selected);
  border: var(--border-width) solid var(--btn-border-color-selected);
  box-shadow: var(--shadow-std);
  color: var(--btn-color-selected);
}

#btn-debug {
  background-color: transparent;
  bottom: 0.5rem;
  border: none;
  padding: 0;
  position: fixed;
  right: 0.25rem;
}

/* ⇊ Emphasized button styles ⇊ */

button.emphasized {
  border-radius: var(--spacing-sm);
  position: relative;
  transition: transform 0.1s ease-in-out;
}
button.emphasized:hover,
button.emphasized:focus-visible {
  background-color: var(--btn-background-color-hover);
  border: var(--border-width) solid var(--btn-border-color-hover);
  color: var(--btn-color-hover);
  transform: scaleY(0.975) translateY(1.25%);
}
button.emphasized:hover:active,
button.emphasized:focus-visible:active {
  transform: scaleY(0.95) translateY(2.5%);
}

button.emphasized::after {
  border-radius: var(--spacing-sm);
  box-shadow: inset 0 calc(-1 * var(--spacing-sm)) 0 rgba(0, 0, 0, 0.25);
  content: "";
  inset: calc(-1 * var(--border-width));
  position: absolute;
  transition: box-shadow 0.1s ease-in-out;
}
button.emphasized:hover::after,
button.emphasized:focus-visible::after {
  box-shadow: inset 0 calc(-1 * (var(--spacing-sm) / 3 * 2)) 0
    rgba(0, 0, 0, 0.25);
}
button.emphasized:hover:active::after,
button.emphasized:focus-visible:active::after {
  box-shadow: inset 0 calc(-1 * (var(--spacing-sm) / 3)) 0 rgba(0, 0, 0, 0.25);
}

button.emphasized .wrapper {
  display: inline-block;
  transform: translateY(calc(-0.5 * var(--spacing-sm)));
  transition: transform 0.1s ease-in-out;
}
button.emphasized:hover .wrapper,
button.emphasized:focus-visible .wrapper {
  transform: scaleY(1.025) translateY(calc(-0.5 * (var(--spacing-sm) / 3 * 2)));
}
button.emphasized:hover:active .wrapper,
button.emphasized:focus-visible:active .wrapper {
  transform: scaleY(1.05) translateY(calc(-0.5 * (var(--spacing-sm) / 3)));
}
