html {
  --btn-background-color: var(--secondary);
  --btn-background-color-active: var(--primary);
  --btn-background-color-hover: var(--accent-beta);
  --btn-background-color-selected: var(--primary);
  --btn-border-color: var(--secondary);
  --btn-border-color-active: var(--primary);
  --btn-border-color-hover: var(--accent-beta);
  --btn-border-color-selected: var(--primary);
  --btn-color: var(--text-swath);
  --btn-color-active: var(--accent-beta);
  --btn-color-hover: var(--primary);
  --btn-color-selected: var(--accent-beta);
  --btn-padding-y: var(--spacing-sm);
  --btn-padding-x: var(--spacing-md);
}

button,
.button {
  background-color: var(--btn-background-color);
  border: none;
  color: var(--btn-color);
  cursor: pointer;
  padding: var(--btn-padding-y) var(--btn-padding-x);

  &:hover,
  &:focus-visible {
    background: linear-gradient(
      var(--accent-beta) 25%,
      var(--accent-beta-lighter) 200%
    );
    box-shadow: var(--shadow);
    color: var(--btn-color-hover);

    &:active {
      background: linear-gradient(
        var(--btn-background-color-active) 25%,
        var(--accent-beta) 275%
      );
      box-shadow: var(--shadow);
      color: var(--btn-color-active);
    }

    &:disabled {
      background-color: var(--btn-background-color);
      box-shadow: unset;
      color: var(--btn-color);
      cursor: default;
    }
  }

  &.selected {
    background-color: var(--btn-background-color-selected);
    box-shadow: var(--shadow);
   
  }

  &.swath {
    background: var(--accent-beta);
    color: var(--primary);

    &:hover,
    &:focus-visible {
      background: linear-gradient(
        var(--accent-beta) 25%,
        var(--accent-beta-lighter) 125%
      );

      &:active {
        background: linear-gradient(
          var(--btn-background-color-active) 25%,
          var(--accent-beta) 275%
        );
        color: var(--btn-color-active);
      }
    }
  }
}

/* ⇊ .spring-tile button styles ⇊ */
.spring-wrapper {
  &:has(> button) {
    --spring-spacing: 0.25rem;
    --spring-background: var(--secondary-darker);
  }
}

#btn-debug {
  background-color: transparent;
  bottom: 0.5rem;
  padding: 0;
  position: fixed;
  right: 0.25rem;
}
