details {
  color: var(--text-swath);
  transition: background-color 200ms ease-in-out;
  /* border-bottom: 1px solid var(--text-swath); */

  /* &:hover {
    background-color: var(--lighten);
    box-shadow: var(--shadow);
  } */

  summary {
    cursor: pointer;
    list-style-position: outside;
    padding-right: calc(var(--spacing-lg) * 2);
    position: relative;
    user-select: none;

    &::marker {
      content: "";
    }

    &::after {
      content: "+";
      position: absolute;
      top: 0;
      right: 0;
    }

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &::details-content {
    block-size: 0;
    overflow: hidden;
    transition:
      block-size 200ms,
      padding 200ms;
    padding-top: var(--spacing-md);
  }

  &[open] {
    summary::after {
      content: "-";
    }

    &::details-content {
      block-size: auto;
      padding-bottom: var(--spacing-md);
    }

    summary + * {
      animation: details-content ease-in-out 400ms;
    }
  }
}

@keyframes details-content {
  0% {
    inline-size: 0;
    opacity: 0;
    transform: translateY(2rem);
  }
  50% {
    inline-size: calc-size(fit-content, size);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
