details {
  border-radius: var(--spacing-sm);
  color: var(--text-swath);
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: var(--lighten);
    box-shadow: var(--shadow);
  }

  summary {
    cursor: pointer;
    list-style-position: outside;
    margin-left: calc(var(--spacing-lg) * 2);
    padding-block: var(--spacing-md);
    padding-right: var(--spacing-lg);
    position: relative;
    user-select: none;

    &::marker {
      content: "+ ";
      font-size: 130%;
      line-height: 70%;
    }

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &::details-content {
    block-size: 0;
    overflow: hidden;
    transition: block-size 200ms;
  }

  &[open] {
    ::marker {
      content: "-  ";
    }

    &::details-content {
      block-size: auto;
    }

    summary + * {
      animation: details-content ease-in-out 200ms;
    }
  }
}

@keyframes details-content {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
