dialog {
  background-color: transparent;
  border-radius: var(--spacing-md) var(--spacing-lg) var(--spacing-md) var(--spacing-md);
  box-shadow: var(--shadow);
  opacity: 1;
  overscroll-behavior: contain;
  padding: 0;
  transform: translateY(0px);
  transition:
    opacity 0.3s,
    transform 0.3s;

  @starting-style {
    opacity: 0;
    transform: translateY(-50%);
  }
}

dialog::backdrop {
  backdrop-filter: blur(var(--spacing-lg));
  background-color: var(--backdrop-color);
  opacity: 1;
  position: relative;
  transition: opacity 0.3s;

  @starting-style {
    opacity: 0;
  }
}
