nav a::after {
  content: "↗";
  position: absolute;
  right: calc(var(--link-padding-x) * 0.75);
  top: 50%;
  transform: translateY(-50%);
}

nav a {
  background-color: var(--link-background-color);
  border: var(--border-width) solid var(--link-border-color);
  color: var(--link-color);
  display: inline-block;
  padding: var(--link-padding-y) var(--link-padding-x);
  padding-right: calc(1.25ch + var(--link-padding-x));
  position: relative;
}

nav a:hover,
nav a:focus-visible {
  background-color: var(--link-background-color-hover);
  border: var(--border-width) solid var(--link-border-color-hover);
  box-shadow: var(--shadow-std);
  color: var(--link-color-hover);
}
