a {
  background-color: var(--link-background-color);
  border: var(--border-width) solid var(--link-border-color);
  color: var(--link-color);
  cursor: pointer;
  display: inline-block;
  padding: var(--link-padding-y) var(--link-padding-x);
  padding-right: calc(1rem + var(--link-padding-x));
  position: relative;
}

a:hover {
  background-color: var(--link-background-color-hover);
  border: var(--border-width) solid var(--link-border-color-hover);
  box-shadow: var(--shadow-std);
  color: var(--link-color-hover);
}

a::after {
  content: "↗";
  position: absolute;
  right: var(--link-padding-x);
  top: 50%;
  transform: translateY(-50%);
}
