html {
  --link-background-color: var(--ternary);
  --link-background-color-hover: var(--accent-beta);
  --link-border-color: var(--ternary);
  --link-border-color-hover: var(--accent-beta);
  --link-color: var(--text);
  --link-color-hover: var(--primary);
  --link-padding-x: var(--spacing-md);
  --link-padding-y: var(--spacing-sm);
}

nav a::after {
  content: "↗";
  position: absolute;
  right: calc(var(--link-padding-x) * 0.75);
  top: 50%;
  transform: translateY(-50%);
}

nav a {
  background-color: var(--link-background-color);
  color: var(--link-color);
  display: inline-block;
  padding: var(--link-padding-y) var(--link-padding-x);
  padding-right: calc(1.25ch + var(--link-padding-x));
  position: relative;
}

nav a:hover,
nav a:focus-visible {
  background-color: var(--link-background-color-hover);
  box-shadow: var(--shadow);
  color: var(--link-color-hover);
}
