html {
  --icon-height: calc(2ex);
}

svg {
  aspect-ratio: 1/1;
  display: block;
  height: var(--icon-height);
  margin-block: auto;
  min-width: auto;
  width: auto;
}

.border-line-icon {
  display: inline-block;
  padding: calc(
    var(--spacing-sm) + (1lh - var(--icon-height) + var(--border-width)) / 2
  );
}
