@layer globals {
  .widget {
    background-color: var(--secondary-darker);
    border-radius: var(--spacing-xs);
    color: var(--text-swath);
    display: flex;
    gap: var(--spacing-xs);
    line-height: var(--icons-width);
    padding: var(--spacing-xs);
  }

  .widget button {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-block: var(--spacing-xs);
    padding-inline: var(--spacing-sm);
  }

  .widget input {
    background-color: var(--secondary-darker);
    border: var(--border-width) solid var(--secondary);
    border-radius: var(--spacing-xs);
    color: var(--text-swath);
    padding-inline: var(--spacing-sm);
  }

  .widget div:has(.unit) {
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--spacing-xs);
    display: flex;
    flex-flow: row nowrap;
  }

  .widget .unit {
    padding-inline: var(--spacing-sm);
  }

  .widget .unit + input {
    border-left: 0;
  }

  .widget input:has(+ .unit) {
    border-right: 0;
  }
}
