.glint {
  --glint: -100%;
  position: relative;

  &:hover {
    --glint: 100%;
  }

  ::after {
    content: "";
    background: linear-gradient(
      to right,
      transparent,
      hsl(0 0 100 / 20%),
      transparent
    );
    inset: 0;
    pointer-events: none;
    position: absolute;
    transform: translateX(var(--glint));
    transition: transform 200ms ease-in-out;
  }
}
