.spring-wrapper {
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--spring-background) 50%
  );
  display: grid;
  grid-template-rows:
    0
    auto
    calc(var(--spring-spacing) * 2);
  height: calc-size(auto, round(nearest, size, 1px));
  transition: grid-template-rows 0.1s;
  width: fit-content;

  &:hover,
  &:focus-visible {
    grid-template-rows:
      var(--spring-spacing)
      auto
      var(--spring-spacing);
  }
  &:hover:active,
  &:focus-visible:active {
    grid-template-rows:
      calc(var(--spring-spacing) * 2)
      auto
      0;
  }

  > :first-child {
    grid-row: 2/3;
  }
}
