@import url(../reset.css);
@import url(../config.css);
@import url(../theme.css);
@import url(../animation.css);

@import url(../globals/button.css);
@import url(../globals/dialog.css);
@import url(../globals/global.css);
@import url(../globals/link.css);
@import url(../globals/popover.css);
@import url(../globals/svg.css);
@import url(../globals/widget.css);

@import url(../components/aeee-file-input.css);
@import url(../components/aeee-top-menu.css);
@import url(../components/camera-widget.css);
@import url(../components/dropdown-menu.css);
@import url(../components/image-upload-dialog.css);
@import url(../components/logo.css);
@import url(../components/menu-left-drawer.css);
@import url(../components/main-board.css);
@import url(../components/theme-switch.css);
@import url(../components/toast.css);
@import url(../components/tooltip.css);

@import url(../utilities/anchor-positioning.css);
@import url(../utilities/animated.css);
@import url(../utilities/button-chameleon.css);
@import url(../utilities/color.css);
@import url(../utilities/font.css);
@import url(../utilities/rounded.css);
@import url(../utilities/spacing.css);
@import url(../utilities/spring.css);
@import url(../utilities/miscellaneous.css);

body {
  background-color: var(--secondary);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "top-menu top-menu top-menu"
    "left-drawer main-board right-drawer";

  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
}
