aeee-thumbnail {
  background-color: var(--secondary);
  border-radius: var(--spacing-sm);
  display: inline-block;
  max-width: 300px;
  min-width: 100px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:not(:defined) {
    display: none;
  }

  &[hidden] {
    display: none;
  }

  &:state(checked) {
    border: calc(var(--border-width) * 2) solid var(--accent-alpha);

    ::before {
      box-shadow: inset 0 0 var(--spacing-xs) var(--accent-alpha);
      content: "";
      inset: 0;
      position: absolute;
    }

    ::after {
      background-color: var(--accent-alpha);
      border-radius: calc(infinity * 1px);
      color: var(--text-swath);
      content: "✔";
      padding-inline: var(--spacing-sm);
      position: absolute;
      right: var(--spacing-lg);
      text-align: center;
      top: var(--spacing-lg);
      width: 1lh;
    }

    &:state(rounded) {
      ::before {
        border-radius: calc(infinity * 1px);
      }

      ::after {
        bottom: var(--spacing-lg);
        right: 50%;
        top: unset;
        transform: translateX(50%);
      }
    }
  }

  &:state(rounded) {
    border-radius: calc(infinity * 1px);
  }

  &:state(error)::before {
    color: var(--invalid);
    content: "✘";
    font-size: 8rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-57.5%);
    z-index: 1;
  }

  /* 
   * TODO: Make a @mixin out of this when browsers support allows it. 
   * https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Custom_functions_and_mixins
  */
  &:state(loading)::after {
    animation: loading-skeleton 2s infinite;
    background: linear-gradient(
      to right,
      var(--secondary),
      var(--secondary-darker),
      var(--secondary)
    );
    background-color: var(--secondary);
    background-size: 200% 100%;
    border-radius: var(--spacing-sm);
    content: "";
    inset: 0;
    position: absolute;
    z-index: 2;
  }

  figure {
    display: grid;
    grid-template-areas: "main";
    height: 100%;
    margin: 0;
    width: 100%;
  }

  img {
    aspect-ratio: 1/1;
    grid-area: main;
    height: 100%;
    object-fit: cover;
  }

  &:state(error) img {
    filter: grayscale(80%);
  }

  figcaption {
    background-color: var(--accent-beta);
    border-radius: var(--spacing-sm);
    box-shadow: var(--shadow);
    color: var(--primary);
    grid-area: main;
    margin: auto 1rem 1rem auto;
    max-width: calc(100% - 2rem);
    overflow: hidden;
    padding-inline: var(--spacing-sm);
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
  }

  &:state(rounded) figcaption,
  &:state(error) figcaption {
    display: none;
  }
}
