aeee-details {
  --duration: 200ms;
  display: grid;
  grid-template-rows: auto 0;
  transition: grid-template-rows var(--duration);

  &[hidden] {
    display: none;
  }

  &:not(:has([data-open="true"])) {
    border-bottom: 1px solid var(--text-swath);
    padding-bottom: var(--spacing-sm);
  }

  &:has([data-open="true"]) {
    grid-template-rows: auto auto;
  }

  [data-summary] {
    cursor: pointer;
    margin-right: 2ch;
    user-select: none;

    &::after {
      content: "+";
      position: absolute;
      right: 0;
    }

    &:has(+ [data-open="true"]) {
      &::after {
        content: "-";
      }
    }

    + * {
      opacity: 0;
      transform-origin: center top;
      
      &[data-open="true"] {
        animation: drawer var(--duration) forwards;
        border-bottom: 1px solid var(--text-swath);
        padding-bottom: var(--spacing-md);
      }
    }
  }
}

@keyframes drawer {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
