aeee-drag-and-drop {
  display: grid;
  gap: var(--spacing-md);
  justify-content: space-between;
  width: 512px;

  &[is-disabled] {
    opacity: 50%;
  }

  .drop-zone {
    border: 1px dashed var(--text-swath);
    border-radius: var(--spacing-sm);
    grid-column: 1 / span 2;
    margin-bottom: var(--spacing-md);
    max-height: 64px;
    overflow-y: auto;
    padding: var(--spacing-lg);
    scrollbar-color: var(--text-swath) transparent;
    text-align: center;
    width: 100%;
  }

  label,
  button {
    border-radius: var(--spacing-xs);
    color: var(--text-swath);
    font-weight: 600;
    grid-row: 2;
    height: fit-content;
    width: fit-content;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  button {
    justify-self: end;
  }
}
