form:has(> aeee-file-input) {
  align-items: end;
  display: flex;
  gap: var(--spacing-lg);
  justify-content: start;
  overflow: hidden;
  position: relative;

  /* &::after {
    background: center / cover
      url(../../assets/pictures/thumbnail_placehoder.png);
    content: "";
    filter: blur(25px) contrast(100%) brightness(125%);
    inset: 0;
    opacity: 1;
    position: absolute;
    transform: scale(1.5);
    z-index: -1;
  } */
}

aeee-file-input {
  border-radius: var(--spacing-xs);
  display: block;
  --radius: var(--spacing-xs);

  &[hidden] {
    display: none;
  }

  input {
    clip-path: inset(50%);
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    z-index: -1;
  }

  label {
    border-radius: var(--radius);
    display: flex;
    font-weight: 500;
    gap: var(--spacing-sm);
    max-width: 100%;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    width: fit-content;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &:has(> p) {
    display: flex;
    flex-flow: wrap;
    gap: var(--spacing-sm);
    height: fit-content;
    max-width: 100%;

    label {
      max-width: 100%;
    }
  }

  p {
    align-items: center;
    background-color: var(--secondary-darker);
    border: var(--border-width) solid var(--secondary-darker);
    border-radius: var(--radius);
    color: var(--text-swath);
    display: flex;
    line-height: 1rem;
    max-width: 100%;
    overflow: hidden;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
