aeee-draggable {
  background-color: var(--secondary);
  border-radius: var(--spacing-sm);
  height: fit-content;
  padding: var(--spacing-sm);
  width: fit-content;

  &:hover {
    cursor: move;
  }
}
