aeee-details {
  display: grid;
  grid-template-rows: auto 0;
  transition: grid-template-rows 200ms;

  &[hidden] {
    display: none;
  }

  &:not(:has([data-open="true"])) {
    border-bottom: 1px solid var(--text-swath);
    padding-bottom: var(--spacing-sm);
  }

  &:has([data-open="true"]) {
    grid-template-rows: auto auto;
  }

  [data-summary] {
    cursor: pointer;
    margin-right: 2ch;
    user-select: none;

    &::after {
      content: "+";
      position: absolute;
      right: 0;
    }

    &:has(+ [data-open="true"]) {
      &::after {
        content: "-";
      }
    }

    + * {
      opacity: 0;
      transform: translateY(-2rem);
      transition:
        opacity 200ms 100ms ease-in-out,
        transform 200ms ease-in-out;

      &[data-open="true"] {
        border-bottom: 1px solid var(--text-swath);
        opacity: 1;
        padding-bottom: var(--spacing-md);
        transform: translateY(0);
      }
    }
  }
}
