aeee-board {
  background-color: var(--secondary-darker);
  border-radius: var(--spacing-sm);
  box-shadow: var(--shadow);
  display: grid;
  flex: 1 1 max(400px, 40%);
  gap: var(--spacing-sm);
  grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
  padding: var(--spacing-md);
  place-content: start;

  header {
    display: grid;
    gap: var(--spacing-md);
    grid-column: 1/-1;
    grid-template-columns: 1fr auto auto;
    margin-bottom: var(--spacing-sm);

    p {
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    input {
      font-weight: 700;
    }

    button {
      border-radius: var(--spacing-xs);
    }
  }
}
