aeee-theme-switch {
  --theme-switch-background: var(--accent-beta);
  --theme-switch-unit: 0.25rem;

  [data-theme-switch] {
    align-items: center;
    background-color: var(--secondary);

    border: none;
    border-radius: calc(infinity * 1px);
    display: flex;
    height: calc(var(--theme-switch-unit) * 6);
    justify-content: start;
    min-width: calc(var(--theme-switch-unit) * 12);
    padding-inline: 0;
    --theme-switch-handle-translate: calc(var(--theme-switch-unit) * 1);
    width: calc(var(--theme-switch-unit) * 6);

    &:hover,
    &:focus-visible {
      border: none;
      color: var(--theme-switch-background);

      &:active {
        background-color: var(--theme-switch-background);
        border: none;
        color: var(--theme-switch-background);
      }
    }

    [data-theme="dark"] & {
      --theme-switch-handle-translate: calc(var(--theme-switch-unit) * 7);
    }
  }

  [data-theme-switch-handle] {
    align-items: center;
    background-color: var(--secondary-darker);
    border-radius: inherit;
    display: flex;
    height: calc(var(--theme-switch-unit) * 4);
    justify-content: center;
    min-width: calc(var(--theme-switch-unit) * 4);
    transform: translateX(var(--theme-switch-handle-translate)) scale(1.25);
    transition: transform 0.3s ease-in-out;
    width: calc(var(--theme-switch-unit) * 4);

    svg {
      animation: theme-switch-scale 0.3s ease-in-out forwards;
      min-width: 0;
      width: 100%;
    }
  }
}

@keyframes theme-switch-scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(0.75);
  }
}
