@layer components {
  aeee-thumbnail {
    article {
      background-color: var(--secondary);
      border-radius: var(--spacing-sm);
      height: 100%;
      max-height: 150px;
      max-width: 150px;
      overflow: hidden;
      width: 100%;
    }

    figure {
      display: none;
      grid-template-areas: "main";
      height: 100%;
      margin: 0;
      width: 100%;
    }

    img {
      grid-area: main;
      height: 150px;
      object-fit: cover;
      width: 150px;
    }

    figcaption {
      background-color: var(--accent-beta);
      border-radius: var(--spacing-sm);
      box-shadow: var(--shadow-std);
      box-sizing: border-box;
      color: var(--primary);
      grid-area: main;
      margin: auto 1rem 1rem auto;
      max-width: calc(100% - 2rem);
      overflow: hidden;
      padding-inline: var(--spacing-sm);
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    :has(.loader) {
      position: relative;
    }

    .loader {
      animation: loading-background 2s infinite;
      background: linear-gradient(
        to right,
        var(--secondary),
        var(--secondary-darker),
        var(--secondary)
      );
      background-color: var(--secondary);
      background-size: 200% 100%;
      inset: 0;
      position: absolute;
    }

    .loader.error {
      animation: unset;
      background: unset;
    }
    .loader.error::after {
      background-color: var(--invalid);
      border-radius: var(--spacing-sm);
      box-shadow: var(--shadow-std);
      box-sizing: border-box;
      color: var(--text-swath);
      content: "Erreur";
      display: inline-block;
      height: fit-content;
      left: 50%;
      max-width: calc(100% - 2rem);
      overflow: hidden;
      padding-inline: var(--spacing-sm);
      position: absolute;
      text-overflow: ellipsis;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      white-space: nowrap;
    }

    @keyframes loading-background {
      0% {
        background-position: 0% 200%;
      }
      100% {
        background-position: -200% 0%;
      }
    }
  }
}
