menu[data-drawer] {
  background-color: var(--secondary);
  max-width: 0;
  padding: var(--spacing-md) 0 0;
  position: relative;
  transition: all 200ms ease-in-out;
  width: 0;
  z-index: 1;

  > * {
    list-style-type: none;
    opacity: 0;
    visibility: hidden;

    .left & {
      transform: translateX(-200%);
    }

    .right & {
      transform: translateX(200%);
    }

    @starting-style {
      visibility: visible;
    }
  }

  &[data-open="true"] {
    max-width: fit-content;
    padding: var(--spacing-md);
    width: fit-content;

    > * {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 200ms 200ms ease-in-out;
      visibility: visible;
    }
  }
}
