aeee-thumbnail {
  article {
    background-color: var(--secondary);
    border-radius: var(--spacing-sm);
    height: 100%;
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
    width: 100%;
  }

  figure {
    display: none;
    margin: 0;
    height: 100%;
    width: 100%;
    grid-template-areas: "main";
  }

  img {
    grid-area: main;
    object-fit: cover;
    height: 150px;
    width: 150px;
    grid-template-rows: 150px;
  }

  figcaption {
    background-color: var(--accent-beta);
    border-radius: var(--spacing-sm);
    box-shadow: var(--shadow-std);
    box-sizing: border-box;
    color: var(--primary);
    grid-area: main;
    margin: auto 1rem 1rem auto;
    max-width: calc(100% - 2rem);
    overflow: hidden;
    padding-inline: var(--spacing-sm);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :has(.loader) {
    position: relative;
  }

  .loader {
    background-color: var(--secondary);
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to right,
      var(--secondary),
      var(--secondary-darker),
      var(--secondary)
    );
    background-size: 200% 100%;
    animation: loading-background 2s infinite;
  }

  .loader.error {
    animation: unset;
    background: unset;
  }
  .loader.error::after {
    background-color: var(--invalid);
    border-radius: var(--spacing-sm);
    box-shadow: var(--shadow-std);
    box-sizing: border-box;
    color: var(--text-swath);
    content: "Erreur";
    display: inline-block;
    height: fit-content;
    left: 50%;
    max-width: calc(100% - 2rem);
    overflow: hidden;
    padding-inline: var(--spacing-sm);
    position: absolute;
    text-overflow: ellipsis;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
  }

  @keyframes loading-background {
    0% {
      background-position: 0% 200%;
    }
    100% {
      background-position: -200% 0%;
    }
  }
}
