menu[data-drawer] {
  background-color: var(--secondary);
  max-width: 0;
  padding: var(--spacing-md) 0 0;
  position: relative;
  transition: all 200ms ease-in-out;
  width: 0;
  z-index: 1;

  [data-switch] {
    position: absolute;
    top: var(--spacing-md);

    .left & {
      left: calc(var(--spacing-md) + 100%);
      transition: left 200ms ease-in-out;
    }

    .right & {
      right: calc(var(--spacing-md) + 100%);
      transition: right 200ms ease-in-out;
    }
  }

  > li {
    list-style-type: none;
    opacity: 0;
    transition: all 200ms ease-in-out;
    visibility: hidden;

    .left & {
      transform: translateX(-200%);
    }

    .right & {
      transform: translateX(200%);
    }

    @starting-style {
      visibility: visible;
    }

    &:not(:last-of-type) {
      margin-bottom: var(--spacing-sm);
    }
  }

  &[data-open="true"] {
    max-width: fit-content;
    padding: var(--spacing-md);
    width: fit-content;

    > li {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }
  }
}
