menu[data-drawer] {
  background-color: var(--secondary);
  max-width: 0;
  padding: var(--drawer-padding) 0 0;
  position: relative;
  transition: all 200ms ease-in-out;
  width: 0;
  z-index: 1;

  [data-switch] {
    position: absolute;
    top: var(--drawer-padding);

    .left & {
      left: calc(var(--drawer-padding) + 100%);
      transition: left 200ms ease-in-out;
    }

    .right & {
      right: calc(var(--drawer-padding) + 100%);
      transition: right 200ms ease-in-out;
    }
  }

  > li {
    list-style-type: none;
    opacity: 0;
    transition: all 200ms ease-in-out;
    visibility: hidden;

    .left & {
      transform: translateX(-200%);
    }

     .right & {
      transform: translateX(200%);
    }

    @starting-style {
      visibility: visible;
    }

    &:not(:last-of-type) {
      margin-bottom: var(--spacing-sm);
    }
  }

  &[data-open="true"] {
    max-width: calc(
      var(--icons-width) +
        (
          var(--drawer-padding) + var(--btn-padding-x) +
            var(--border-width)
        ) *
        2
    );
    padding: var(--drawer-padding);
    width: calc(
      var(--icons-width) +
        (
          var(--drawer-padding) + var(--btn-padding-x) +
            var(--border-width)
        ) *
        2
    );

    > li {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }
  }
}
