form:has(> aeee-file-input) {
  align-items: end;
  display: flex;
  gap: var(--spacing-lg);
  justify-content: start;
  overflow: hidden;
  position: relative;
}

aeee-file-input {
  border-radius: var(--spacing-xs);
  display: block;
  --radius: var(--spacing-xs);

  &[hidden] {
    display: none;
  }

  label {
    border-radius: var(--radius);
    display: flex;
    font-weight: 500;
    gap: var(--spacing-sm);
    max-width: 100%;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    width: fit-content;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &:has(> p) {
    display: flex;
    flex-flow: wrap;
    gap: var(--spacing-sm);
    height: fit-content;
    max-width: 100%;

    label {
      max-width: 100%;
    }
  }

  p {
    align-items: center;
    background-color: var(--secondary-darker);
    border-radius: var(--radius);
    color: var(--text-swath);
    display: flex;
    max-width: 100%;
    overflow: hidden;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
