#camera-widget {
  bottom: 1rem;
  display: flex;
  margin-left: 1rem;
  opacity: 0.5;
  position: absolute;
  right: 1rem;
  transition: opacity 0.2s ease-in-out;

  input[type="number"] {
    border-radius: var(--spacing-xs) 0 0 var(--spacing-xs);
  }
}

#camera-widget:hover,
#camera-widget:has(:focus-visible) {
  opacity: 1;
}
