select,
::picker(select) {
  appearance: base-select;
  border: none;
}

select {
  align-items: center;
  background-color: var(--btn-background-color);
  color: var(--btn-color);
  cursor: pointer;
  display: flex;
  padding: var(--btn-padding-y) var(--btn-padding-x);

  &::picker-icon {
    animation: picker-icon-close 200ms ease-in-out;
    scale: 0.75;
  }

  &:open::picker-icon {
    animation: picker-icon-open 200ms ease-in-out;
    rotate: 180deg;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--btn-background-color-hover);
    box-shadow: var(--shadow);
    color: var(--btn-color-hover);

    selectedcontent {
      color: var(--btn-color-hover);
    }
  }

  &:hover:active,
  &:focus-visible:active {
    background-color: var(--btn-background-color-active);
    box-shadow: var(--shadow);
    color: var(--btn-color-active);

    selectedcontent {
      color: var(--btn-color-active);
    }
  }

  &:hover:disabled,
  &:focus-visible:disabled {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    cursor: default;

    selectedcontent {
      color: var(--btn-color);
    }
  }

  button:hover:disabled,
  button:focus-visible:disabled {
    background-color: var(--btn-background-color);
    box-shadow: unset;
    color: var(--btn-color);
    cursor: default;
  }

  option {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    cursor: pointer;
    font-family: "Commissioner", "Arial", sans-serif;
    padding: var(--btn-padding-y) var(--btn-padding-x);

    &:hover,
    &:focus-visible {
      background-color: var(--btn-background-color-hover);
      box-shadow: var(--shadow);
      color: var(--btn-color-hover);
    }

    &:hover:active,
    &:focus-visible:active {
      background-color: var(--btn-background-color-active);
      box-shadow: var(--shadow);
      color: var(--btn-color-active);
    }

    &:checked {
      background-color: var(--btn-background-color-selected);
      box-shadow: var(--shadow);
      color: var(--valid);
      font-weight: 600;
    }

    &::checkmark {
      content: "✓";
      margin-left: auto;
      order: 1;
      scale: 0.75;
    }
  }
}

::picker(select) {
  background-color: var(--secondary-darker);
  border-radius: var(--spacing-xs);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-xs);
  left: anchor(auto);
  opacity: 0;
  padding: var(--spacing-xs);
  pointer-events: none;
  box-shadow: var(--shadow);
  top: calc(anchor(bottom) + var(--spacing-xs));
}

::picker(select):popover-open {
  opacity: 1;
  pointer-events: auto;
}

@keyframes picker-icon-open {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes picker-icon-close {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
