input[type="file"] {
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  z-index: -1;
}

input[type="file"] + label {
  display: flex;
  font-weight: 500;
  gap: var(--spacing-sm);
}