dialog:has([data-dropzone]) {
  background-color: transparent;
  border: none;
  height: 100vh;
  height: 100dvh;
  margin: auto;
  width: 100vw;
  width: 100dvw;

  @media screen and (min-width: 900px) {
    max-width: 75vw;
    max-width: 75dvw;
    max-height: 75vh;
    max-height: 75dvh;
  }
}

article[data-dropzone] {
  background-color: var(--ternary);
  border-radius: var(--border-radius);
  bottom: 0rem;
  display: flex;
  left: 0rem;
  position: absolute;
  right: 0rem;
  top: 0rem;
}
