dialog:has([data-dropzone]) {
  background-color: transparent;
  border: none;
  height: 100vh;
  height: 100dvh;
  margin: auto;
  width: 100vw;
  width: 100dvw;

  @media screen and (min-width: 900px) {
    max-width: 75vw;
    max-width: 75dvw;
    max-height: 75vh;
    max-height: 75dvh;
  }
}

article[data-dropzone] {
  background-color: var(--ternary);
  bottom: 0rem;
  display: flex;
  flex-flow: column nowrap;
  left: 0rem;
  position: absolute;
  right: 0rem;
  top: 0rem;
}

article[data-dropzone] p {
  margin: var(--spacing-xs) var(--spacing-md);
  padding: var(--spacing-sm);
  font-weight: 500;
}

article[data-dropzone] > div:nth-child(2) {
  background-color: var(--secondary);
  border-radius: var(--spacing-md);
  flex-grow: 1;
  margin: 0 var(--spacing-md) var(--spacing-md);
  padding: var(--spacing-lg);
}

article[data-dropzone] > div:nth-child(3) {
  background-color: var(--secondary-darker);
  border-radius: var(--spacing-xs);
  margin: 0 var(--spacing-md) calc(var(--spacing-lg) * 1.125);
  padding: var(--spacing-xs);
}

article[data-dropzone] label {
  max-width: 100%;
  width: fit-content;
  padding-block: var(--spacing-xs);
  padding-left: var(--spacing-sm);
}

article[data-dropzone] label svg {
  transform: scale(0.75);
}

article[data-dropzone] label span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
