.anchor-dropdown {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  position-area: bottom span-right;
  position-try: flip-block, flip-inline, flip-block flip-inline;
  position-visibility: anchors-visible;
}

.anchor-dropdown.dropdown-menu {
  margin-left: calc(-1 * var(--spacing-xs));
}

.anchor-dropright {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  position-area: span-bottom right;
  position-try: flip-block, flip-inline, flip-block flip-inline;
  position-visibility: anchors-visible;
}

.anchor-dropright.dropdown-menu {
  margin-top: calc(-1 * var(--spacing-xs));
}

button:has(+ .dropdown-menu) {
  border-radius: var(--border-radius);
  font-weight: 500;
  padding-right: var(--spacing-lg);
  position: relative;
}

button:has(+ .dropdown-menu):after {
  content: "↴";
  font-weight: inherit;
  position: absolute;
  right: var(--spacing-sm);
}

.dropdown-menu {
  background-color: var(--secondary-darker);
  --before-width: 1px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-std);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  padding-left: calc(var(--spacing-xs) * 2 + var(--before-width));
}

.dropdown-menu:before {
  background-color: var(--accent-beta);
  bottom: var(--spacing-xs);
  content: "";
  left: var(--spacing-xs);
  position: absolute;
  top: var(--spacing-xs);
  width: var(--before-width);
}

.dropdown-menu .dropdown-menu:before {
  background-color: var(--accent-alpha);
}

.dropdown-menu button {
  border-radius: var(--border-radius);
  display: flex;
  font-weight: 500;
  gap: var(--spacing-sm);
  padding-left: var(--spacing-xs);
  text-align: left;
}

.dropdown-menu button svg {
  height: 0.9rem;
  margin-block: auto;
  stroke-width: 2px;
  width: 0.9rem;
}

button:has(+ .dropdown-menu),
.dropdown-menu button {
  max-width: 150px;
}

button:has(+ .dropdown-menu),
.dropdown-menu span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Not supported in the current configuration as of 2025/11/14. */
/*
position-try: --menu-bottom-left, --menu-top-right, menu-top-left;

@position-try --menu-bottom-left {
  position-area: bottom span-left;
}

@position-try --menu-top-right {
  position-area: top span-right;
}

@position-try --menu-top-left {
  position-area: top span-left;
} 
*/
