dialog#image-upload-dialog {
  border: none;
  height: 100vh;
  height: 100dvh;
  margin: auto;
  padding-top: 2.75rem;
  width: 100vw;
  width: 100dvw;

  @media screen and (min-width: 900px) {
    max-width: 75vw;
    max-width: 75dvw;
    max-height: 75vh;
    max-height: 75dvh;
  }

  &:open {
    display: flex;
  }

  > p {
    font-weight: 500;
    left: 0;
    margin-inline: var(--spacing-lg);
    max-width: 100%;
    overflow: hidden;
    padding-right: calc(var(--spacing-lg) * 3);
    position: absolute;
    text-overflow: ellipsis;
    top: 0.75rem;
    white-space: nowrap;
  }

  > form {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-lg);
    height: 100%;
    padding: var(--spacing-lg);
    width: 100%;
  }
}
