dialog#image-upload-dialog {
  border: none;
  height: fit-content;
  margin: auto;
  overflow: hidden;
  width: 100vw;
  width: 100dvw;
  padding: var(--spacing-md);
  background-color: rgba(255, 255, 255, 0.5);

  @media screen and (min-width: 900px) {
    max-width: 75vw;
    max-width: 75dvw;
    max-height: 75vh;
    max-height: 75dvh;
  }

  &:open {
    display: flex;
    flex-flow: column nowrap;
  }

  header {
    background-color: var(--secondary);
    border-radius: var(--spacing-md);
    display: flex;
    gap: var(--spacing);
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);
    box-shadow: var(--shadow);

    p {
      color: var(--text-swath);
      font-weight: 400;
      flex-grow: 1;
      overflow: hidden;
      padding-left: var(--spacing-lg);
      padding-top: var(--spacing-sm);
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    button {
      aspect-ratio: 1/1;
      border-radius: calc(infinity * 1px);
      transform: scale(0.75);
    }
  }

  > form {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    gap: var(--spacing-lg);
    overflow: auto;
  }
}
