#logo-button {
  display: flex;
  width: calc(18 * var(--spacing-xs));

  svg {
    color: var(--text-swath);
    margin: auto;
  }

  &:hover svg,
  &:focus-visible svg {
    color: var(--accent-beta);
  }
}
