.logo {
  position: relative;
  width: 1.1rem;
  height: 1.1rem;
  color: var(--ternary);
  border: 1px solid var(--ternary);
  margin: auto;
  margin-left: 0.8rem;
  transform: rotate(-15deg) scale(1.2);
}

.logo::before {
  position: absolute;
  content: "-it";
  top: -2.5px;
  left: 0;
  transform: rotate(15deg) translateX(-3px);
}

.logo:hover {
  color: var(--highlight-beta);
  border: 1px solid var(--highlight-beta);
}
