a:has(#logo-header) {
  color: var(--text-swath);
  margin-left: 0.6rem;
  margin-right: auto;
}

a:has(#logo-header:hover) {
  color: var(--accent-beta);
}

#logo-header {
  transform: scale(1.25) translateY(2px);
}
