header.main-header {
  grid-column: 1 / -1;
  width: 100%;
  height: fit-content;
  border: none;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  background-color: var(--secondary);
  background-color: var(--main-header-background-color);
}

header.main-header nav ul {
  display: flex;
  gap: 0.4rem;

  list-style-type: none;
  padding: 0;
}
