main.board__wrapper {
  background-color: var(--ternary);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

main.board__wrapper .toggle-left-drawer-btn {
  position: absolute;
  top: var(--left-drawer-padding);
  left: var(--left-drawer-padding);
}

main.board__wrapper .toggle-left-drawer-btn:hover {
  box-shadow: unset;
}

canvas {
  background-color: var(--ternary);
}
