[data-widget="push-to-move"] {
  bottom: 1rem;
  display: flex;
  position: absolute;
  right: 1rem;
}

[data-widget="push-to-move"] small {
  border-left: var(--border-width) solid currentColor;
  padding-left: 0.5rem;
}
