[role="tooltip"] {
  align-items: center;
  background-color: var(--accent-beta);
  border-radius: var(--border-width);
  box-shadow: var(--shadow-std);
  color: var(--primary);
  display: flex;
  line-height: 1.5;
  opacity: 0;
  padding: var(--spacing-xs) var(--spacing-md);
  position: fixed;
  position-area: right;
  position-try: flip-block, flip-inline, flip-block flip-inline;
  position-visibility: anchors-visible;
  transition: opacity 0.1s 0.5s ease-in-out;
  visibility: hidden;
}

[aria-describedby]:hover + [role="tooltip"],
[role="tooltip"]:hover {
  opacity: 1;
  visibility: visible;
}
