@keyframes bounce-up {
  0% {
    transform: translateY(0.5rem);
    opacity: 0;
  }

  75% {
    transform: translateY(-0.125rem);
  }

  85% {
    transform: translateY(-0.125rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loading-skeleton {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: -200% 0%;
  }
}
