@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

* {
  scrollbar-arrow-color: inherit;
  scrollbar-color: inherit;
  scrollbar-gutter: inherit;
  scrollbar-track-color: inherit;
  scrollbar-width: inherit;
}

html {
  color-scheme: light dark;
  font-family: "Commissioner";
  font-size: var(--font-size);
  color: var(--text);
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) transparent;

  /* ⇊  Globals ⇊ */
  --border-width: var(--spacing-xs);
  --disabled-opacity: 0.5;
  --font-size: 16px;
  --line-height: 1.3;
  --shadow: hsl(0 0% 0% / 0.125) 0px 1px 4px;

  /* ⇊  Spacing ⇊ */
  --spacing-xs: 0.125rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 1rem;

  /* ⇊  Default theme colours ⇊ */
  --text: hsl(0, 0%, 10%);
  --text-swath: hsl(0, 0%, 90%);
  --input-background: hsl(0, 0%, 95%);
  --primary: hsl(30, 20%, 20%);
  --secondary: hsl(120, 10%, 40%);
  --ternary: hsl(0, 0%, 90%);
  --backdrop-color: rgba(0, 0, 0, 0.25);

  --accent-alpha: hsl(200, 60%, 50%);
  --accent-beta: hsl(30, 70%, 60%);
  --valid: limegreen;
  --invalid: crimson;

  --lighten: hsl(0 0% 100% / 10%);
  --darken: hsl(0 0% 0% / 10%);

  --secondary-darker: color-mix(in oklab, var(--secondary), hsl(0, 0%, 0%) 30%);
  --accent-beta-lighter: color-mix(
    in oklab,
    var(--accent-beta),
    hsl(0, 0%, 100%) 30%
  );
}
