@media (prefers-color-scheme: dark) {
  @property --text {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(220, 220, 220);
  }

  @property --text-swath {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(220, 220, 220);
  }


  @property --input-background {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(60, 60, 60);
  }

  @property --primary {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(60, 50, 40);
  }

  @property --secondary {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(90, 90, 110);
  }

  @property --secondary-darker {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(60, 60, 70);
  }

  @property --ternary {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(40, 40, 40);
  }
}
